body {
    background-color: rgb(10, 10, 10);
    color: white;
    font-family: Arial;
   }

   .title {
    font-size: 30px;
    font-weight: bold;
    color: rgb(247, 210, 2);
    margin-left: 3rem;
   }

   .move-icon {
    height: 50px;
    width: auto;
   }

   .move-button {
    background-color: rgba(247, 210, 2, 0.144);
    border-radius: 10px;
    width: 120px;
    height: 120px;
    border: 2px solid rgb(247 210 2);
    margin-right: 10px;
    cursor: pointer;
   }

   .move-button:hover {
    background-color: rgb(10, 10, 10);
   }

   .result {
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
   }

   .score {
    margin-top: 60px;
   }

   .reset-score-button {
    background-color: rgb(247 210 2);
    border: none;
    font-size: 15px;
    padding: 11px 14px;
    cursor: pointer;
    margin-left: 1rem;
    border-radius: 1rem;
   }

   .reset-score-button:hover {
    background-color: rgba(247, 210, 2, 0.144);
    color: white;
   }